* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; 
}

/* Yasmin - Nojinho */
.green { background: linear-gradient(180deg, #81c784, #388e3c); box-shadow: 0 10px 20px rgba(56, 142, 60, 0.3); }